{
    "extends": "google",
    "env": {
      "es6": true
    },
    "globals": {
      "window": true,
      "document": true,
      "HTMLElement": true,
      "Polymer": true,
      "CustomEvent": true
    }
}
